.about-us {
  display: none;
  @include desktop {
    display: block;
  }
}

.about-us__section {
  padding-bottom: 94px;
}

.about-us__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--first-title-color);
}

.about-us__img {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.about-us__wrap {
  position: relative;
}

.about-us__txt {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: rgba(47, 48, 58, 0.8);
  /* padding-top: 27px;
  padding-bottom: 27px; */
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
