.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  max-width: 1600px;
  background: var(--background);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mobile {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header-mob.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header-mob2x.jpg);
    }
  }
  @include tablet {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header-tab.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header-tab2x.jpg);
    }
  }
  @include desktop {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/header.jpg);

    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header2x.jpg);
    }
  }
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero__content {
  color: var(--title-color);
}

.hero__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 20px;
  line-height: calc(38 / 20);
  @include mobile {
    font-size: 26px;
    line-height: calc(42 / 26);
  }
  @include tablet {
    font-size: 26px;
    line-height: calc(42 / 26);
    max-width: 360px;
    // margin-left: 204px;
    // margin-right: 204px;
    // height: 84px;
    // display: flex;
    // flex-wrap: wrap;
    // text-align: center;
  }
  @include desktop {
    font-size: 44px;
    line-height: calc(60 / 44);
    max-width: 696px;
  }
  /* color: var(--title-color); */
}
