.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  border-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  @media screen and (max-width: 479px) {
    width: 98vw;
    height: 98vh;
  }
  @include mobile {
    width: 450px;
    height: 609px;
  }
  @include tablet {
    width: 450px;
    height: 609px;
  }
  @include desktop {
    width: 528px;
    height: 581px;
  }
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .backdrop .is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: currentColor;
    border: 1px solid #188ce8;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  @include desktop {
    line-height: calc(23 / 20);
    margin-bottom: 15px;
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: #757575;
  }
  &:hover,
  &:focus {
    border: 1px solid #188ce8;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

/* .modal-input:not(:focus):not(placeholder-shown):valid {
  background-color: #188ae88c;
}
.modal-input:not(:focus):not(placeholder-shown):invalid {
  background-color: #75757581;
} */

.input-wrap {
  position: relative;
  gap: 30px;
}

.modal-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:focus + & {
    fill: #188ce8;
  }
}

.modal-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  display: block;
  color: #757575;
  margin-bottom: 4px;
}
textarea {
  display: block;
}
.modal-txt {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 10px;
  color: rgba(117, 117, 117, 0.5);
}

.check-txt {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  // margin-top: 20px;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-check:focus + & {
      border-color: #2196f3;
    }
    .modal-check:checked + & {
      background-color: #2196f3;
      border: none;
    }
    .modal-check:focus + & {
      border-color: #2196f3;
    }
  }
}

.check-icon {
  fill: transparent;
  .modal-check:checked + .check-txt & {
    fill: #ffffff;
  }
}

/* .check-txt:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 10px;
} */

/* .modal-check:checked + .check-txt:before { */
/* width: 12px;
  height: 12px;
  background-color: #2196f3;
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center; }*/

.treaty {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--axent-color);
  padding-left: 5px;
  // border-bottom: 1px solid #2196f3;
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-treaty {
  display: flex;
  justify-content: center;
}

.modal-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-field:last-child {
  margin-bottom: 20px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: var(--title-color);
  background: var(--axent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.btn-form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}
