.hero-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--first-btn-color);
  background-color: var(--background-color);
  border-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &-link:hover,
  &-link:focus {
    color: var(--second-btn-color);
    background-color: var(--axent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.btn-wrap {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    justify-content: center;
  }
  @include desktop {
    justify-content: center;
  }
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-div {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  flex-grow: 1;
}

.portfolio-wrap {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  gap: 30px;
  @include mobile {
    justify-content: center;
  }
  @include tablet {
    justify-content: start;
  }
}

.portfolio__link {
  display: flex;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}
.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
  color: var(--first-title-color);
}

.img-portfolio {
  // display: block;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.img-portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.56;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  .img-portfolio:hover &,
  .img-portfolio:focus & {
    transform: translateY(0%);
  }
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
