input {
  // width: 100%;
  // max-width: 358px;
  // @include desktop {
  //   max-width: 358px;
  // }
  // height: 50px;
  // font-family: "Roboto" sans-serif;
  // font-style: normal;
  // font-size: 16px;
  // line-height: 1.25;
  // display: flex;
  // align-items: center;
  // letter-spacing: 0.03em;
  // border-radius: 4px;
  // padding: 4px;
  // background-color: #2f303a;
  // color: rgba(255, 255, 255, 0.6);
}
