.link {
  text-decoration: none;
  color: var(--first-title-color);
}

.list {
  list-style: none;
}

.section {
  /* padding-top: 94px; */
  padding-bottom: 94px;
}
.section-afterhero {
  padding-top: 94px;
}
