.link {
  text-decoration: none;
  color: var(--first-title-color);
}

.list {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.no-scroll {
  overflow: hidden;
}
