:root {
  --first-title-color: #212121;
  --second-title-color: #757575;
  --axent-color: #2196f3;
  --first-btn-color: #212121;
  --second-btn-color: #ffffff;
  --background-color: #f5f4fa;
  --background: #2f303a;
  --title-color: #ffffff;
}
